body {
	    margin: 0;
	    padding: 0;
	    background-color: #000;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    min-height: 100vh;
}
	
#pong {
	    background-color: #222;
	    border: 1px solid #fff;
}    